/* CSS Variables */
:root{
    --pink:#A513EE;
    --black: #34495E;
    --white:#FDFEFE;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Let us align the header of the content */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 4rem;
    padding:30px;
    border-bottom: solid 3px var(--black);
}
#high-scores{
    text-decoration: none;
    color: var(--pink);
    font-weight: bold;
}

#content{
    margin: 10px;
    padding: 100px;
    text-align: center;
}

p{
    font-size:3rem;
}

#start{
    font-size: 3rem;
    justify-content: center;
    margin:10px;
    background-color: var(--pink);
}

/* Button style */
.btn{
    display: inline-block;
    color: var(--white);
    border:none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}